# ===== ربات =====
BOT_TOKEN=

# ===== ادمین (شناسه عددی تلگرام) =====
ADMIN_TELEGRAM_ID=

# ===== کارت بانکی =====
PAYMENT_CARD_NUMBER=
PAYMENT_CARD_HOLDER=
PAYMENT_BANK=

# ===== قیمت PDF (تومان) =====
PDF_PRICE=350000

# ===== پشتیبانی =====
SUPPORT_USERNAME=sinarezaeiifn

# ===== گروه VIP =====
# شناسه عددی گروه (مثلاً -1001234567890)
# ربات باید ادمین گروه باشد با دسترسی Invite Users
VIP_GROUP_ID=
